@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FCFBF9;
  --foreground: #1c1917;
}

/* BLINDAGEM CONTRA OVERFLOW (Espaço branco lateral) */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased; /* Deixa a fonte mais nítida e premium */
}